.our-title{
text-align: center;
color: blue;
background-color: rgb(175, 229, 229);
}
.images1{
width: 370px;

width: 370px;

}
.text-img1{
  width: 370px;
    text-align: center;
display: inline-block;
}

    















